BureauEtude.json
[
    {
        "id": "148cf492650303f7",
        "type": "tab",
        "label": "Receiver BE",
        "disabled": false,
        "info": ""
    },
    {
        "id": "56117f7ff9921393",
        "type": "mqtt in",
        "z": "148cf492650303f7",
        "name": "",
        "topic": "GPSMQTTOut",
        "qos": "0",
        "datatype": "auto",
        "broker": "d8f5182d.3296f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "185dfcf07599d477",
                "d0a7b5a7fb025c89",
                "09505e0ddbf190e3"
            ]
        ]
    },
    {
        "id": "e700823b4473246d",
        "type": "mqtt in",
        "z": "148cf492650303f7",
        "name": "",
        "topic": "CentraleMQTTOut",
        "qos": "0",
        "datatype": "auto",
        "broker": "d8f5182d.3296f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 210,
        "y": 680,
        "wires": [
            [
                "dbd5b3b5efa7fbcb",
                "f62bd6cef7155446",
                "57893ccda9ad1b60"
            ]
        ]
    },
    {
        "id": "185dfcf07599d477",
        "type": "debug",
        "z": "148cf492650303f7",
        "name": "GPS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 160,
        "wires": []
    },
    {
        "id": "cb3093ea63b3a8b8",
        "type": "udp out",
        "z": "148cf492650303f7",
        "name": "GPS Out To Computer",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1200,
        "y": 380,
        "wires": []
    },
    {
        "id": "d0a7b5a7fb025c89",
        "type": "function",
        "z": "148cf492650303f7",
        "name": "Vers ordinateur sur Network Local ",
        "func": "for (i = 2100; i < 2110; i++){\n    msg.port = i;\n    msg.ip = \"192.168.1.135\";\n    node.send(msg)\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 380,
        "wires": [
            [
                "cb3093ea63b3a8b8"
            ]
        ]
    },
    {
        "id": "dbd5b3b5efa7fbcb",
        "type": "debug",
        "z": "148cf492650303f7",
        "name": "CENTRALE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 540,
        "wires": []
    },
    {
        "id": "4c49ae718d6cffa6",
        "type": "udp out",
        "z": "148cf492650303f7",
        "name": "Centrale Out To Computer",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 990,
        "y": 640,
        "wires": []
    },
    {
        "id": "f62bd6cef7155446",
        "type": "function",
        "z": "148cf492650303f7",
        "name": "Vers ordinateur sur Network Local ",
        "func": "for (i = 2110; i < 2120; i++){\n    msg.port = i;\n    msg.ip = \"192.168.1.136\";\n    node.send(msg)\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 640,
        "wires": [
            [
                "4c49ae718d6cffa6"
            ]
        ]
    },
    {
        "id": "ed0afa4bb7ee22e1",
        "type": "file",
        "z": "148cf492650303f7",
        "name": "",
        "filename": "/home/pi/Documents/LogsNav/27_09_2021/GPSMQTTOut.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 960,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "f20e1eb22ec4e89b",
        "type": "file",
        "z": "148cf492650303f7",
        "name": "",
        "filename": "/home/pi/Documents/LogsNav/25_09_2021/CENTRALEMQTTOut.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1090,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "09505e0ddbf190e3",
        "type": "function",
        "z": "148cf492650303f7",
        "name": "",
        "func": "var m_names = new Array(\"January\", \"February\", \"March\", \n\"April\", \"May\", \"June\", \"July\", \"August\", \"September\", \n\"October\", \"November\", \"December\");\n\nvar mydate = new Date();\nvar curr_date = mydate.getDate();\nvar curr_month = mydate.getMonth()+ 1; // Because the array starts from 0\nvar curr_year = mydate.getFullYear();\n\nvar mydatestr = '' + curr_year  + '-' +\ncurr_month + '-' + \ncurr_date+ ' ' +\nmydate.getHours() + ':' +\nmydate.getMinutes() + ':' + \nmydate.getSeconds() + '.' + \nmydate.getMilliseconds()\n\n\n\n\nmsg.payload = mydatestr + \"{\" + msg.payload\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 260,
        "wires": [
            [
                "ed0afa4bb7ee22e1"
            ]
        ]
    },
    {
        "id": "e964b783ad9f6d62",
        "type": "mqtt in",
        "z": "148cf492650303f7",
        "name": "",
        "topic": "HeureMQTTOut",
        "qos": "0",
        "datatype": "auto",
        "broker": "d8f5182d.3296f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 200,
        "y": 1100,
        "wires": [
            [
                "87a9424c5e7555f3",
                "33d6c7b3562d0cc1",
                "e529caabd24c2a37"
            ]
        ]
    },
    {
        "id": "87a9424c5e7555f3",
        "type": "debug",
        "z": "148cf492650303f7",
        "name": "Heure",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 960,
        "wires": []
    },
    {
        "id": "3f7a1817940190e6",
        "type": "udp out",
        "z": "148cf492650303f7",
        "name": "Heure Out To Computer",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 850,
        "y": 1060,
        "wires": []
    },
    {
        "id": "33d6c7b3562d0cc1",
        "type": "function",
        "z": "148cf492650303f7",
        "name": "Vers ordinateur sur Network Local ",
        "func": "for (i = 3110; i < 3120; i++){\n    msg.port = i;\n    msg.ip = \"192.168.1.136\";\n    node.send(msg)\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1060,
        "wires": [
            [
                "3f7a1817940190e6"
            ]
        ]
    },
    {
        "id": "87752f4a3eb05641",
        "type": "file",
        "z": "148cf492650303f7",
        "name": "",
        "filename": "/home/pi/Documents/LogsNav/25_09_2021/HeureMQTTOut.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 930,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "57893ccda9ad1b60",
        "type": "function",
        "z": "148cf492650303f7",
        "name": "",
        "func": "//var m_names = new Array(\"January\", \"February\", \"March\", \n//\"April\", \"May\", \"June\", \"July\", \"August\", \"September\", \n//\"October\", \"November\", \"December\");\n\nvar mydate = new Date();\nvar curr_date = mydate.getDate();\nvar curr_month = mydate.getMonth()+ 1; // Because the array starts from 0\nvar curr_year = mydate.getFullYear();\n\nvar mydatestr = '' + curr_year  + '-' +\ncurr_month + '-' + \ncurr_date+ ' ' +\nmydate.getHours() + ':' +\nmydate.getMinutes() + ':' + \nmydate.getSeconds()  + '.' + \nmydate.getMilliseconds()\n\n\n\nmsg.payload = mydatestr + \"{\" + msg.payload\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 760,
        "wires": [
            [
                "f20e1eb22ec4e89b"
            ]
        ]
    },
    {
        "id": "e529caabd24c2a37",
        "type": "function",
        "z": "148cf492650303f7",
        "name": "",
        "func": "var m_names = new Array(\"January\", \"February\", \"March\", \n\"April\", \"May\", \"June\", \"July\", \"August\", \"September\", \n\"October\", \"November\", \"December\");\n\nvar mydate = new Date();\nvar curr_date = mydate.getDate();\nvar curr_month = mydate.getMonth()+ 1; // Because the array starts from 0\nvar curr_year = mydate.getFullYear();\n\nvar mydatestr = '' + curr_year  + '-' +\ncurr_month + '-' + \ncurr_date+ ' ' +\nmydate.getHours() + ':' +\nmydate.getMinutes() + ':' + \nmydate.getSeconds() + '.' + \nmydate.getMilliseconds()\n\n\n\n\nmsg.payload = mydatestr + \"{\" + msg.payload\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1180,
        "wires": [
            [
                "87752f4a3eb05641"
            ]
        ]
    },
    {
        "id": "abe2fff6044aa913",
        "type": "mqtt in",
        "z": "148cf492650303f7",
        "name": "",
        "topic": "XDRGreementMQTTOut",
        "qos": "0",
        "datatype": "auto",
        "broker": "d8f5182d.3296f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 190,
        "y": 1480,
        "wires": [
            [
                "75642d0e0c1d9b39",
                "4c6e20179f94a1ee",
                "23ad9efec0f512c2"
            ]
        ]
    },
    {
        "id": "75642d0e0c1d9b39",
        "type": "debug",
        "z": "148cf492650303f7",
        "name": "XDR Greement",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1340,
        "wires": []
    },
    {
        "id": "fb3505a880fe2e1e",
        "type": "udp out",
        "z": "148cf492650303f7",
        "name": "Centrale Out To Computer",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 950,
        "y": 1440,
        "wires": []
    },
    {
        "id": "4c6e20179f94a1ee",
        "type": "function",
        "z": "148cf492650303f7",
        "name": "Vers ordinateur sur Network Local ",
        "func": "for (i = 2110; i < 2120; i++){\n    msg.port = i;\n    msg.ip = \"192.168.1.136\";\n    node.send(msg)\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1440,
        "wires": [
            [
                "fb3505a880fe2e1e"
            ]
        ]
    },
    {
        "id": "c53dfefcb98253a7",
        "type": "file",
        "z": "148cf492650303f7",
        "name": "",
        "filename": "/home/pi/Documents/LogsNav/25_09_2021/XDRGreement.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1030,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "23ad9efec0f512c2",
        "type": "function",
        "z": "148cf492650303f7",
        "name": "",
        "func": "//var m_names = new Array(\"January\", \"February\", \"March\", \n//\"April\", \"May\", \"June\", \"July\", \"August\", \"September\", \n//\"October\", \"November\", \"December\");\n\nvar mydate = new Date();\nvar curr_date = mydate.getDate();\nvar curr_month = mydate.getMonth()+ 1; // Because the array starts from 0\nvar curr_year = mydate.getFullYear();\n\nvar mydatestr = '' + curr_year  + '-' +\ncurr_month + '-' + \ncurr_date+ ' ' +\nmydate.getHours() + ':' +\nmydate.getMinutes() + ':' + \nmydate.getSeconds()  + '.' + \nmydate.getMilliseconds()\n\n\n\nmsg.payload = mydatestr + \"{\" + msg.payload\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1560,
        "wires": [
            [
                "c53dfefcb98253a7"
            ]
        ]
    },
    {
        "id": "d2c46c1d42fae2e4",
        "type": "mqtt in",
        "z": "148cf492650303f7",
        "name": "",
        "topic": "XDREnvironnementMQTTOut",
        "qos": "0",
        "datatype": "auto",
        "broker": "d8f5182d.3296f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 200,
        "y": 1880,
        "wires": [
            [
                "107e57ec50b55375",
                "cf235caf515baf68",
                "e9723799741de676"
            ]
        ]
    },
    {
        "id": "107e57ec50b55375",
        "type": "debug",
        "z": "148cf492650303f7",
        "name": "XDR Enviro",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 1740,
        "wires": []
    },
    {
        "id": "3a0d01b08b417358",
        "type": "udp out",
        "z": "148cf492650303f7",
        "name": "Centrale Out To Computer",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 950,
        "y": 1840,
        "wires": []
    },
    {
        "id": "cf235caf515baf68",
        "type": "function",
        "z": "148cf492650303f7",
        "name": "Vers ordinateur sur Network Local ",
        "func": "for (i = 2110; i < 2120; i++){\n    msg.port = i;\n    msg.ip = \"192.168.1.136\";\n    node.send(msg)\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1840,
        "wires": [
            [
                "3a0d01b08b417358"
            ]
        ]
    },
    {
        "id": "9aad9510b1b834fb",
        "type": "file",
        "z": "148cf492650303f7",
        "name": "",
        "filename": "/home/pi/Documents/LogsNav/25_09_2021/XDRenviro.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1010,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "e9723799741de676",
        "type": "function",
        "z": "148cf492650303f7",
        "name": "",
        "func": "//var m_names = new Array(\"January\", \"February\", \"March\", \n//\"April\", \"May\", \"June\", \"July\", \"August\", \"September\", \n//\"October\", \"November\", \"December\");\n\nvar mydate = new Date();\nvar curr_date = mydate.getDate();\nvar curr_month = mydate.getMonth()+ 1; // Because the array starts from 0\nvar curr_year = mydate.getFullYear();\n\nvar mydatestr = '' + curr_year  + '-' +\ncurr_month + '-' + \ncurr_date+ ' ' +\nmydate.getHours() + ':' +\nmydate.getMinutes() + ':' + \nmydate.getSeconds()  + '.' + \nmydate.getMilliseconds()\n\n\n\nmsg.payload = mydatestr + \"{\" + msg.payload\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1960,
        "wires": [
            [
                "9aad9510b1b834fb"
            ]
        ]
    },
    {
        "id": "d8f5182d.3296f8",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "adb72c5db88b4aeb8a3d96ad3b5c074d.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "e48656f36231fcdc",
        "clientid": "",
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e48656f36231fcdc",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    }
]