Routeur.json
[
    {
        "id": "2a06c3eaf95875ce",
        "type": "tab",
        "label": "Receiver Routeur",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d10dd3a663fe2e76",
        "type": "mqtt in",
        "z": "2a06c3eaf95875ce",
        "name": "",
        "topic": "GPSMQTTOut",
        "qos": "0",
        "datatype": "auto",
        "broker": "d8f5182d.3296f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 220,
        "y": 220,
        "wires": [
            [
                "8d938cdc933d7cb3",
                "abaedd1a371e8176"
            ]
        ]
    },
    {
        "id": "90b42e2bbcdb3ca0",
        "type": "mqtt in",
        "z": "2a06c3eaf95875ce",
        "name": "",
        "topic": "CENTRALEMQTTOut",
        "qos": "0",
        "datatype": "auto",
        "broker": "d8f5182d.3296f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 240,
        "y": 380,
        "wires": [
            [
                "0272de9d08f4b7dd",
                "bfe7e084b3764e13"
            ]
        ]
    },
    {
        "id": "8d938cdc933d7cb3",
        "type": "debug",
        "z": "2a06c3eaf95875ce",
        "name": "GPS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 160,
        "wires": []
    },
    {
        "id": "681d9f68979822f3",
        "type": "udp out",
        "z": "2a06c3eaf95875ce",
        "name": "GPS Out To Computer",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 840,
        "y": 220,
        "wires": []
    },
    {
        "id": "abaedd1a371e8176",
        "type": "function",
        "z": "2a06c3eaf95875ce",
        "name": "Vers ordinateur sur Network Local ",
        "func": "for (i = 2100; i < 2110; i++){\n    msg.port = i;\n    msg.ip = \"192.168.1.145\";\n    node.send(msg)\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 220,
        "wires": [
            [
                "681d9f68979822f3"
            ]
        ]
    },
    {
        "id": "0272de9d08f4b7dd",
        "type": "debug",
        "z": "2a06c3eaf95875ce",
        "name": "CENTRALE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 320,
        "wires": []
    },
    {
        "id": "7af1d93c18661267",
        "type": "udp out",
        "z": "2a06c3eaf95875ce",
        "name": "Centrale Out To Computer",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 890,
        "y": 380,
        "wires": []
    },
    {
        "id": "bfe7e084b3764e13",
        "type": "function",
        "z": "2a06c3eaf95875ce",
        "name": "Vers ordinateur sur Network Local ",
        "func": "for (i = 2110; i < 2120; i++){\n    msg.port = i;\n    msg.ip = \"192.168.1.135\";\n    node.send(msg)\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 380,
        "wires": [
            [
                "7af1d93c18661267"
            ]
        ]
    },
    {
        "id": "a8032a6be43f9199",
        "type": "mqtt in",
        "z": "2a06c3eaf95875ce",
        "name": "",
        "topic": "XDRGreementMQTTOut",
        "qos": "0",
        "datatype": "auto",
        "broker": "d8f5182d.3296f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 250,
        "y": 540,
        "wires": [
            [
                "2ccab32ac4c3a8dc",
                "48c25fa1a73de0c2"
            ]
        ]
    },
    {
        "id": "2ccab32ac4c3a8dc",
        "type": "debug",
        "z": "2a06c3eaf95875ce",
        "name": "XDR Greement",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 480,
        "wires": []
    },
    {
        "id": "56dc22a2e75b7501",
        "type": "udp out",
        "z": "2a06c3eaf95875ce",
        "name": "Centrale Out To Computer",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 950,
        "y": 540,
        "wires": []
    },
    {
        "id": "48c25fa1a73de0c2",
        "type": "function",
        "z": "2a06c3eaf95875ce",
        "name": "Vers ordinateur sur Network Local ",
        "func": "for (i = 2120; i < 2130; i++){\n    msg.port = i;\n    msg.ip = \"192.168.1.135\";\n    node.send(msg)\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 540,
        "wires": [
            [
                "56dc22a2e75b7501"
            ]
        ]
    },
    {
        "id": "174b37959ecbeecd",
        "type": "mqtt in",
        "z": "2a06c3eaf95875ce",
        "name": "",
        "topic": "XDREnvironnementMQTTOut",
        "qos": "0",
        "datatype": "auto",
        "broker": "d8f5182d.3296f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 260,
        "y": 700,
        "wires": [
            [
                "7562a9d89c159654",
                "5023625d4b4e96be"
            ]
        ]
    },
    {
        "id": "7562a9d89c159654",
        "type": "debug",
        "z": "2a06c3eaf95875ce",
        "name": "XDR Enviro",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 640,
        "wires": []
    },
    {
        "id": "ef8d054fb164663a",
        "type": "udp out",
        "z": "2a06c3eaf95875ce",
        "name": "Centrale Out To Computer",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 970,
        "y": 700,
        "wires": []
    },
    {
        "id": "5023625d4b4e96be",
        "type": "function",
        "z": "2a06c3eaf95875ce",
        "name": "Vers ordinateur sur Network Local ",
        "func": "for (i = 2130; i < 2140; i++){\n    msg.port = i;\n    msg.ip = \"192.168.1.135\";\n    node.send(msg)\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 700,
        "wires": [
            [
                "ef8d054fb164663a"
            ]
        ]
    },
    {
        "id": "d8f5182d.3296f8",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "adb72c5db88b4aeb8a3d96ad3b5c074d.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "e48656f36231fcdc",
        "clientid": "",
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e48656f36231fcdc",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    }
]